@import 'katex/dist/katex.min.css';

/* root */
:root {
    /* 色を置き換えをしない */
    color-scheme: only;
    /* UD アクセントカラー */
    --accent-red: rgb(255, 40, 0);
    --accent-yellow: rgb(255, 245, 0);
    --accent-green: rgb(53, 161, 107);
    --accent-blue: rgb(0, 65, 255);
    --accent-sky: rgb(102, 204, 255);
    --accent-pink: rgb(255, 153, 160);
    --accent-orange: rgb(255, 153, 0);
    --accent-purple: rgb(154, 0, 121);
    --accent-brown: rgb(102, 51, 0);
    /* UD ベースカラー */
    --base-pink: rgb(255, 209, 209);
    --base-cream: rgb(255, 255, 153);
    --base-glass: rgba(203, 242, 102);
    --base-sky: rgb(180, 235, 250);
    --base-beige: rgb(237, 197, 143);
    --base-green: rgb(135, 231, 176);
    --base-purple: rgb(199, 178, 222);
    /* UD 無彩色 */
    --white: rgb(255, 255, 255);
    --lightgray: rgb(200, 200, 203);
    --gray: rgb(127, 135, 143);
    --black: rgb(0, 0, 0);
    /* お気に入り */
    --mygray: #eeeeee;
    --mygreen: #f2ffe5;
    --mypink: #ffeaff;
    --myorange: #fff2e5;
    --myblue: #e5f2ff;
    --metropolis: #23373B;
}

/* layouts */

html {
    font-size: 16px;
    scroll-behavior: smooth;
    content-visibility: auto;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    max-width: 1000px;
    margin: auto;
    padding: 1rem;
    font-family: "Noto Sans JP", "Noto Sans", sans-serif;
    color: var(--black);
    background-color: var(--white);
}

* {
    box-sizing: border-box;
}

/* decoration */

p {
    margin-block: 1rem;
    padding: 0 0.5rem;
}

a {
    color: var(--accent-blue);
    text-decoration: none;
    transition: color 0.2s ease;
}

a:hover {
    color: var(--accent-orange);
    text-decoration: underline;
}

/* markdown */

strong {
    color: var(--accent-orange);
    margin: 0 0.2rem;
}

/* headings */

h1, h2 {
    display: flex;
    align-items: center;
    padding: 0.5rem 0rem 0.5rem 0.5rem;
    color: var(--black);
    background-color: var(--mygray);
    font-size: medium;
}

h1::before, h2::before {
    display: inline-block;
    width: 0.3rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    background-color: var(--metropolis);
    content: '';
}

h3 {
    margin-block: 0.5rem;
    padding: 0.5rem;
    color: var(--black);
    background-color: var(--mygray);
    font-size: medium;
}

/* コンテンツ構造 */
.content {
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 1rem;
}

/* グリッド幅が広がらないようにする */
.content > * {
    min-width: 0;
}

/* 右目次 */
.toc {
    position: sticky;
    top: 1rem;
    padding-right: 0.5rem;
    align-self: start;
}

.toc-sublist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-top: 3px solid var(--metropolis);
}

.toc-subitem {
    padding: .2rem;
    font-size: 0.75rem;
    border-bottom: 1px dashed var(--lightgray);
}

.toc-title {
    font-size: 0.8rem;
    font-weight: bold;
}

@media (max-width: 768px) {
    .content {
        grid-template-columns: 1fr;
    }

    .toc {
        display: none;
    }
}

/* 目次ボックス */
.toc-box {
    list-style-type: disc;
    list-style-position: inside;
    border: 2px solid var(--metropolis);
}

.toc-box-title {
    display: flex;
    margin-left: 0;
    padding: 2px 5px 5px 10px;
    background-color: var(--metropolis);
    color: var(--white);
    font-weight: 600;
    font-size: medium;
}

.toc-box-list {
    list-style-type: disc;
    margin: 0;
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
}

.toc-box-item {
    padding: .3rem;
}

.toc-box-item:not(:last-child) {
    border-bottom: 1px dashed var(--metropolis);
}

.toc-box-item::marker {
    color: var(--metropolis);
    font-size: 1.0rem;
}

/* lastModified */

.lastModified {
    align-items: center;
    font-size: small;
    padding: 0 0.5rem;
}

/* blockquote */

blockquote {
    display: flex; /* フレックスボックスにする */
    align-items: center;
    margin: 1rem 0; /* 外側余白 */
    padding: 1.0rem;
    background-color: var(--myblue); /* ボックスの背景色 */
    border-radius: 5px;
    border: 1px solid var(--accent-blue);
}

blockquote::before {
    font-family: "FontAwesome";
    content: "\f10d";
    color: var(--accent-blue); /* アイコン・タイトルの色 */
    font-size: large; /* アイコンのサイズ */
    margin-right: 0.5rem;
}

blockquote p {
    margin: 0; /* 段落の余白をリセット */
}

/* table */

table {
    border-collapse: collapse;
    margin: 0 auto;
}

table th,
table td {
    padding: 0.5em;
    border: 1px solid var(--metropolis);
}

table thead tr{
    border-bottom: 1px solid var(--metropolis);
}

table tr:hover {
	cursor: default;
	background-color: var(--mygray);
}

/* reference */

.csl-entry {
    margin: 1rem 0;
    padding: 0 0.5rem;
}

/* katex */

.katex {
    font-size: 1rem;
}

.katex-display {
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 0.5rem;
}

/* example */

.example {
    margin: 1rem 0; /* 外側余白 */
    padding: 1rem; /* 内側余白 */
    position: relative; /* 配置基準 */
}

.example::before {
    content: "Example"; /* 擬似要素 */
    padding: 0 0.5rem; /* タイトルの余白 */
    font-size: medium; /* タイトルのサイズ */
    font-weight: bold; /* タイトルの太さ */
    color: var(--accent-green); /* タイトルの色 */
    height: 100%; /* ボックス高 */
    width: 1rem; /* カッコ幅 */
    position: absolute; /* 位置指定 */
    bottom: 0; /* 下端揃え */
    border-bottom: 3px solid var(--accent-green); /* 下線 */
}

.example::before {
    left: 0; /* 左配置 */
    border-left: 3px solid var(--accent-green); /* 左カッコ */
}

/* recall */

.recall {
    margin: 1rem 0; /* 外側余白 */
    padding: 1rem; /* 内側余白 */
    position: relative; /* 配置基準 */
}

.recall::before {
    content: "Recall"; /* 擬似要素 */
    padding: 0 0.5rem; /* タイトルの余白 */
    font-size: medium; /* タイトルのサイズ */
    font-weight: bold; /* タイトルの太さ */
    color: var(--accent-brown); /* タイトルの色 */
    height: 100%; /* ボックス高 */
    width: 1rem; /* カッコ幅 */
    position: absolute; /* 位置指定 */
    bottom: 0; /* 下端揃え */
    border-bottom: 3px solid var(--accent-brown); /* 下線 */
}

.recall::before {
    left: 0; /* 左配置 */
    border-left: 3px solid var(--accent-brown); /* 左カッコ */
}

/* remark */

.remark {
    display: flex; /* フレックスボックスにする */
    align-items: center;
    margin: 1rem 0; /* 外側余白 */
    padding: 1.0rem;
    background-color: var(--myorange); /* ボックスの背景色 */
    border-radius: 5px;
    border: 1px solid var(--accent-orange);
}

.remark::before {
    font-family: "FontAwesome";
    content: "\f071";
    color: var(--accent-orange); /* アイコン・タイトルの色 */
    font-size: large; /* アイコンのサイズ */
    margin-right: 0.5rem;
}

.remark p {
    margin: 0; /* 段落の余白をリセット */
}

/* memo */

.memo {
    display: flex; /* フレックスボックスにする */
    align-items: center;
    margin: 1rem 0; /* 外側余白 */
    padding: 1.0rem;
    background-color: var(--myblue); /* ボックスの背景色 */
    border-radius: 5px;
    border: 1px solid var(--accent-blue);
}

.memo::before {
    font-family: "FontAwesome";
    content: "\f4ad";
    color: var(--accent-blue); /* アイコン・タイトルの色 */
    font-size: large; /* アイコンのサイズ */
    margin-right: 0.5rem;
}

.memo p {
    margin: 0; /* 段落の余白をリセット */
}