h1 {
    font-family: serif;
    font-size: 1.5rem;
    position: relative;
}

h2 {
    font-family: serif;
    font-size: medium;
    position: relative;
}

h3 {
    font-size: medium;
}

h4 {
    border-bottom: dashed var(--border-thin) var(--accent-muted);
}