h1,h2 {
    display: flex;
    align-items: center;
    padding: .5em .7em;
    background-color: #eeeeee;
    color: #333333;
    font-size: medium;
}

h1::before,h2::before {
    display: inline-block;
    width: 3px;
    height: 1.5em;
    margin-right: .5em;
    background-color: #2589d0;
    content: '';
}

h3 {
    font-size: medium;
}

h4 {
    border-bottom: dashed var(--border-thin) var(--accent-muted);
}