---
interface Crumb {
    label: string;
    href: string;
}

const { items } = Astro.props as { items: Crumb[] };
---

<nav aria-label="Breadcrumb">
    <ol class="breadcrumb">
        {items.map((item, index) => (
            <li>
                {index < items.length - 1 ? (
                    <>
                        <a href={item.href}>{item.label}</a>
                    </>
                    ) : (
                    <span aria-current="page">{item.label}</span>
                )}
            </li>
        ))}
    </ol>
</nav>

<style>
/* .breadcrumb {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.1rem;
    list-style: none;
    padding-left: .5em;
    margin: 1rem 0;
    font-size: 0.9rem;
}

.breadcrumb li {
    display: flex;
    align-items: center;
}

.separator {
    margin: 0 0.5rem;
    color: #888;
}

.breadcrumb a {
    text-decoration: none;
    color: inherit;
}

.breadcrumb a:hover {
    text-decoration: underline;
} */

.breadcrumb {
    display: flex;
    gap: 0 10px;
    list-style: none;
    padding: 6px 0 7px 0px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #eeeeee;
    font-size: .8em;
}

.breadcrumb li {
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 20px;
}

.breadcrumb li:first-child a::before {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
    content: '';
}

.breadcrumb li:not(:last-child)::before,
.breadcrumb li:not(:last-child)::after{
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    content:'';
}

.breadcrumb li:not(:last-child)::before{
    right: 0;
    border-left: 10px solid #c6cdd3;
}

.breadcrumb li:not(:last-child)::after{
    right: 1px;
    border-left: 10px solid #eeeeee;
}

.breadcrumb a {
    color: #333333;
    text-decoration: none;
}

.breadcrumb a:hover {
    color: var(--accent-hover);
}

</style>
