---
const { currentLocale } = Astro.props;
---
<footer>
    <div class="copyright">
        <i class="fa-regular fa-copyright"></i> {new Date().getFullYear()} IndeXiv.</p>
    </div>

    <nav class="footer-nav">
        <a href="#top" class="back-to-top">[BACK TO TOP]</a>
    </nav>
</footer>

<style>
    footer {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        border-top: 1px solid var(--gray);
        padding: 0.3rem;
    }

    .copyright {
        grid-column: 1;
        font-size: 0.8rem;
    }

    .footer-separator {
        margin: 0 0.2rem;
    }

    .footer-nav {
        grid-column: 3;
        font-size: 0.8rem;
    }
</style>