---

---

<footer>
    <div>
    <i class="fa-regular fa-copyright"></i> {new Date().getFullYear()} Charlotte.
    </div>

    <nav>
        <a href="/">Home</a>
        <span class="sep">|</span>
        <a href="/about/">About</a>
        <span class="sep">|</span>
        <a href="/blog/">Blog</a>
    </nav>
</footer>
